<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SearchHotel</servlet-name>
        <servlet-class>com.txsing.bookhotel.dblogic.SearchHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseHotel</servlet-name>
        <servlet-class>com.txsing.bookhotel.dblogic.ChooseHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseRoom</servlet-name>
        <servlet-class>com.txsing.bookhotel.dblogic.ChooseRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateIndent</servlet-name>
        <servlet-class>com.txsing.bookhotel.dblogic.CreateIndent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>com.txsing.bookhotel.dblogic.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyHotel</servlet-name>
        <servlet-class>com.txsing.bookhotel.dblogic.ModifyHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageIndent</servlet-name>
        <servlet-class>com.txsing.bookhotel.dblogic.ManageIndent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageStaff</servlet-name>
        <servlet-class>com.txsing.bookhotel.dblogic.ManageStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaff</servlet-name>
        <servlet-class>com.txsing.bookhotel.dblogic.AddStaff</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchHotel</servlet-name>
        <url-pattern>/SearchHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseHotel</servlet-name>
        <url-pattern>/ChooseHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseRoom</servlet-name>
        <url-pattern>/ChooseRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateIndent</servlet-name>
        <url-pattern>/CreateIndent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyHotel</servlet-name>
        <url-pattern>/ModifyHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageIndent</servlet-name>
        <url-pattern>/ManageIndent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageStaff</servlet-name>
        <url-pattern>/ManageStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaff</servlet-name>
        <url-pattern>/AddStaff</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
